{{#contentFor "pageStyles"}}
{{/contentFor}}
{{#contentFor "pageScripts"}}
{{/contentFor}}

<iframe src="http://ghbtns.com/github-btn.html?user=niceilm&repo=nimage&type=fork&count=true"
        allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
<h1>파일 업로드 </h1>
<form action="/up" method="post" enctype="multipart/form-data">
  <input type="file" name="file">
  <button type="submit">upload</button>
</form>

<h1>URL 업로드 </h1>
<form action="/up/url" method="post">
  <input type="text" name="url">
  <button type="submit">upload</button>
</form>